html {
  scroll-behavior: smooth;
}

:root {
  /* Primary colors */
  --primary: #2196F3;
  --primary-dark: #1976D2;
  --primary-light: #BBDEFB;

  /* Secondary colors */
  --secondary: #ff4081;
  --secondary-dark: #F52E79;
  --secondary-light: #FF70A6;

  /* Neutral colors */
  --text: #333333;
  --background: #ffffff;
  --border: #E0E0E0;
  --shadow: #C0C0C0;

  /* page margin */
  --margin-left: 2.5rem;
  --margin-right: 2.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.dark-mode {
  background-color: #333333;
  color: aliceblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}



/*=================== Header Start ====================*/

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.5rem;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.header-container .profile {
  display: flex;
  gap: 0px 0.5rem;
  padding: 0.3rem 1rem;
  background-color: var(--secondary-light);
}

.nav-items {
  display: flex;
  gap: 0 1rem;
}

.nav-item {
  position: relative;
  list-style-type: none;
}

.nav-item a {
  font-size: 1.5rem;
}

.nav-item a,
.contact-links ul a {
  color: var(--text);
  text-decoration: none;
  display: inline-block;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

/* To imlement over effect */
.nav-item a:after,.contact-links ul a:after {
  content: '';
  display: block;
  position: relative;
  width: 0%;
  height: 3px;
  background-color: var(--primary-dark);
  top: 0.1em;
  z-index: 5;
  transition: all 0.2s ease-in-out;
}
.nav-item a:hover {
  color: var(--text);
}

.nav-item a:hover::after,.contact-links ul a:hover::after {
  width: 100%;
}

/* To imlement over effect */

/* Header Responsive media queries */
@media only screen and (max-width: 800px) {
  
}

@media only screen and (max-width:635px) {
  .header-container {
    flex-direction: column;
  }

  .hero-title {
    margin-right: 0;
  }
}

/*=================== Header Start ====================*/


/* ============== Hero section Start================ */
.hero-banner { 
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 100px;
  background-image: url('../images/02-hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin-right: var(--margin-right);
  background-color:var(--secondary-light);
  padding: 0.2rem 0.5rem;
  color: var(--background);
  
}

@media only screen and (max-width:800px) {
  .hero-banner { 
    justify-content: center;
  }
  nav {
    margin-top: var(--margin-right);
  }
}

@media only screen and (max-width:635px) {
  .hero-title {
    margin-right: 0;
  }
}


/* ============== Hero section End================ */



/* ============== Main Content =================== */
/* About me */

.page-wrapper {
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

.page-section {
  display: flex;
  gap: 0 2rem;
  padding: var(--margin-left);
}

.page-section h2 {
  flex: 1;
  font-size: 2rem;
  text-align: right;
  padding-right: 1rem;
  border-right: 0.2rem solid var(--primary-dark);
  
}
.page-section p,
.page-section .projects-container,
.page-section .contact-links {
  flex: 4;
}

/* Projects section */

.projects-container {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 150px);
}

.image-positioning {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  color: var(--background);
  opacity: 1;
  text-decoration: none;
  border-radius: 1.4rem;
}

.surf {
  grid-area: 1 /1 /4 /3;
  background-image: url('../images/02-portfolio-3.jpg') ;
  padding: 1.2rem;
  
}

.led {
  grid-area: 4 /1 /5 /2;
  padding: 1.2rem;
  background-image: url('../images/02-portfolio-1.jpg');
  
}

.puzzle {
  grid-area: 5 /1 /6 /2;
  padding: 1.2rem;
  background-image: url('../images/02-portfolio-4.jpg');
}

.calculator {
  grid-area: 4 /2 /5 /3;
  padding: 1.2rem;
  background-image: url('../images/02-portfolio-2.jpg');
}

.ruby {
  grid-area: 5 /2 /6 /3;
  padding: 1.2rem;
  background-image: url('../images/02-run-buddy.jpg');
  backdrop-filter: blur(10px);
}


.projects-container a {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
} 

.projects-container a:hover {
  opacity: 1;
} 



/* Contact Me */


.contact-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type:none;
}

.contact-links ul a {
  color: var(--primary);
}

.card-copy {
  /* background-color: var(--secondary); */
  display: flex;
  flex-direction: column;
}

.card-copy > * {
  background-color:var(--secondary-light);
  padding: 0.2rem 0.5rem;
} 

@media only screen and (max-width:800px) {
:root {
    /* page margin */
    --margin-left: 1.2rem;
    --margin-right: 1.2rem;
  }

  .projects-container {
    gap: 1.8rem;
  }

  .page-section {
    flex-direction: column;
  }

  .page-section h2 {
    text-align:start;
    border-right: none;
    border-bottom: 0.2rem solid var(--primary-dark);
    margin-bottom: 1rem;
    
  }
}
@media only screen and (max-width:590px) {
  :root {
    --margin-left: 1rem;
    --margin-right: 1rem;
  }
  
  .projects-container {
    gap: 1.5rem;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(5, 120px);
  }

  .surf {
    grid-area: 1 /1 /2 /2;
    padding:0.8rem;
  }
  
  .led {
    grid-area: 2 /1 /3 /2;
    padding:0.8rem;
  }
  
  .puzzle {
    grid-area: 3 /1 /4 /2;
    padding:0.8rem;
  }
  
  .calculator {
    grid-area: 4 /1 /5 /2;
    padding:0.8rem;
  }
  
  .ruby {
    grid-area: 5 /1 /6 /2;
    padding:0.8rem;
  }

  .contact-links ul {
    flex-direction: column;
    align-items: baseline;
    gap: 1.4rem;
  }

  .card-copy > * {
    padding: 0.25rem 0.4rem;
  } 

}
/* ============== Main Content =================== */